.login-page-main-container {
  min-height: 100vh;
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  padding: 20px;
}
.log-in-form-container {
  background-color: #202020;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.login-page-logo {
  align-self: center;
  height: 50px;
  width: 150px;
  margin: 20px;
}
.login-form-container {
  padding: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-label {
  color: #ffffff;
  font-size: 12px;
  margin: 5px;
}
.input-box {
  background-color: transparent;
  padding: 8px;
  margin: 5px;
  border: solid 1px #ffffff;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
}
.login-button {
  background-color: #6366f1;
  color: #ffffff;
  width: 100%;
  margin: 5px;
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
}
.error-message {
  color: #ff0b37;
  font-size: 15px;
}

@media (max-width: 768px) {
  .log-in-form-container {
    width: 100%;
  }
}
