/* Write your CSS code here */
.Home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  color: #6d396b;
  font-size: 25px;
}
.home-image {
  height: 200px;
  width: 200px;
}
