/* Write your CSS code here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  height: 100px;
  width: 100px;
}

.not-found {
  color: #6d396b;
  font-size: 25px;
}
